@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Medium.woff2') format('woff2'),
        url('PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

