@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);
.form-group input:disabled {
  color: #999999 !important;
}

.forgot-password-title {
  margin: 20px;
  text-align: center;
  font-size: 25px;
}
.error {
  color: #db2c6f;
  margin: 8px 0;
  font-size: 14px;
}
.my-select__control {
  float: none !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #e9e9e9 !important;
  padding: 10px 0;
  height: auto;
  font-size: 18px;
  line-height: 26px;
  color: #060a0b;
  font-weight: 700;
}

.right-setting-content-wrapper.profile-details-wrapper
  .img-icon
  .my-select__control {
  padding: 0 !important;
  background-color: #f2f2f2;
  border: none !important;
  min-height: auto;
}
.profile-details-wrapper .img-icon .my-select__control {
  padding: 5px 0 !important;
}

.edit-profile-wrapper .type-select .my-select__control {
  background-color: #f2f2f2 !important;
  border-bottom: none !important;
  padding: 0;
}
.my-select__indicator-separator {
  height: 0;
  width: 0;
  display: none;
}

.my-select__menu {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.my-select__menu {
  display: block !important;
  width: 100%;
  border-radius: 0;
  margin-top: 0px;
  max-height: 200px;
  overflow: hidden;
}
.my-select__menu-list {
  max-height: 200px !important;
}
.my-select__control--is-focused {
  box-shadow: none !important;
}
.my-select__value-container {
  padding: 2px 0 !important;
}

.my-select__menu {
  background-color: #fff;
  border-radius: 0 !important;
  box-shadow: 0 0 0 1px rgb(68 68 68 / 11%) !important;
  box-sizing: border-box;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b101a;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.my-select__indicators .my-select__indicator {
  padding: 0;
}
.my-select__menu .my-select__option:hover {
  background-color: #f6f6f6;
}
.my-select__single-value {
  text-transform: capitalize;
}
.my-select__menu .my-select__option {
  margin: 0;
  text-transform: capitalize;
  font-size: 16px;
  display: block;
  line-height: 24px;
  min-height: auto;
  padding: 10px 15px;
  white-space: normal;
  text-align: left;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 400;
  outline: none;
}
.my-select__menu-list {
  padding: 0 !important;
}
.remove-btn-block {
  display: flex;
  justify-content: end;
  width: 100%;
}
.remove-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.003em;
  color: #121212;
  text-align: center;
  padding: 5px 10px;
  display: block;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 10px 20px;
  border: 1px solid #f2f2f2;
  width: 20%;
}
.remove-btn:hover {
  background-color: #060a0b;
  color: #fff;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
/* h1 {
  text-align: center;
  color: #fff;
  margin: 0 0 100px;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: darken(#e74c3c, 5);
  padding: 20px 0;
}
h1 b {
  font-weight: 700;
} */
.loader-container {
  position: fixed;
  background: #000000a1;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container img {
  height: 20%;
  width: 20%;
}

.alert {
  position: fixed;
  top: 40px;
  right: 50px;
  width: 25%;
  padding: 20px;
  z-index: 9999;
  font-size: 18px;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  z-index: 0;
  transition: all 250ms linear 0s;
  transform: translateX(500px);
}
.header-profile {
  position: relative;
}

.header-profile > a {
  padding: 10px 0;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 21px !important;
}
.header-profile > a img {
  height: 40px;
  width: 40px;
  object-fit: cover;

  border-radius: 100%;
  margin-right: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.main-header .header-btn {
  float: none !important;
}
.setting-img {
  cursor: pointer;
  border-radius: 5px;
}
.setting-img .edit-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  object-fit: contain;
  pointer-events: none;
  opacity: 0;
  max-width: 40px;
}
.setting-img:after {
  pointer-events: none;
}
.setting-img:hover {
  background-color: #000;
}
.setting-img:hover img {
  opacity: 0.4;
}
.setting-img:hover .edit-image {
  opacity: 1;
}

.cssload-dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.cssload-dot:before {
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 49px;
  background: rgb(251, 211, 1);
  position: absolute;
  left: 50%;
  transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

.cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 44.5px;
  height: 44.5px;
  margin-left: -21.75px;
  margin-top: -21.75px;
  animation: cssload-dot-colors 4.6s ease infinite;
  -o-animation: cssload-dot-colors 4.6s ease infinite;
  -ms-animation: cssload-dot-colors 4.6s ease infinite;
  -webkit-animation: cssload-dot-colors 4.6s ease infinite;
  -moz-animation: cssload-dot-colors 4.6s ease infinite;
}

.cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
  background-color: rgb(255, 50, 112);
  animation: cssload-dot-move 4.6s 0s ease infinite;
  -o-animation: cssload-dot-move 4.6s 0s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
  background-color: rgb(32, 139, 241);
  animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
  background-color: rgb(175, 225, 2);
  animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
  background-color: rgb(251, 211, 1);
  animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    transform: translateY(0);
  }
  18%,
  22% {
    transform: translateY(-68px);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes cssload-dot-move {
  0% {
    -o-transform: translateY(0);
  }
  18%,
  22% {
    -o-transform: translateY(-68px);
  }
  40%,
  100% {
    -o-transform: translateY(0);
  }
}

@-ms-keyframes cssload-dot-move {
  0% {
    -ms-transform: translateY(0);
  }
  18%,
  22% {
    -ms-transform: translateY(-68px);
  }
  40%,
  100% {
    -ms-transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-68px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cssload-dot-move {
  0% {
    -moz-transform: translateY(0);
  }
  18%,
  22% {
    -moz-transform: translateY(-68px);
  }
  40%,
  100% {
    -moz-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-o-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-ms-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-moz-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-dot-rotate-1 {
  0% {
    -o-transform: rotate(-105deg);
  }
  100% {
    -o-transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-dot-rotate-1 {
  0% {
    -ms-transform: rotate(-105deg);
  }
  100% {
    -ms-transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-dot-rotate-1 {
  0% {
    -moz-transform: rotate(-105deg);
  }
  100% {
    -moz-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@-o-keyframes cssload-dot-rotate-2 {
  0% {
    -o-transform: rotate(165deg);
  }
  100% {
    -o-transform: rotate(540deg);
  }
}

@-ms-keyframes cssload-dot-rotate-2 {
  0% {
    -ms-transform: rotate(165deg);
  }
  100% {
    -ms-transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes cssload-dot-rotate-2 {
  0% {
    -moz-transform: rotate(165deg);
  }
  100% {
    -moz-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }
  100% {
    transform: rotate(810deg);
  }
}

@-o-keyframes cssload-dot-rotate-3 {
  0% {
    -o-transform: rotate(435deg);
  }
  100% {
    -o-transform: rotate(810deg);
  }
}

@-ms-keyframes cssload-dot-rotate-3 {
  0% {
    -ms-transform: rotate(435deg);
  }
  100% {
    -ms-transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@-moz-keyframes cssload-dot-rotate-3 {
  0% {
    -moz-transform: rotate(435deg);
  }
  100% {
    -moz-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes cssload-dot-rotate-4 {
  0% {
    -o-transform: rotate(705deg);
  }
  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes cssload-dot-rotate-4 {
  0% {
    -ms-transform: rotate(705deg);
  }
  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes cssload-dot-rotate-4 {
  0% {
    -moz-transform: rotate(705deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}

.dropdown-toggle::after {
  content: none;
}
.img-action .aspect-ratio-box li {
  width: 100% !important;
  margin: 0 !important;
}
.img-action button {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 12px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 100%;
  justify-content: space-between;
}
.aspect-ratio-box {
  bottom: 60px !important;
  top: auto !important;
  transform: none !important;
}
.range-slider {
  display: block !important;
  position: relative !important;
  bottom: 0 !important;
  width: 115px;
}
.glass-plus ul.dropdown-menu.aspect-ratio-box {
  background-color: transparent;
  padding: 0;
}
.nav-tabs .nav-link {
  padding: 0;
  background-color: transparent !important;
  border: none;
  margin-bottom: 0;
}

.setting-wrapper .left-settng-content-wrapper .tabs {
  border: none;
}
.setting-wrapper .left-settng-content-wrapper ul li {
  height: 100%;
  width: 100%;
  border: none;
}
.setting-wrapper .left-settng-content-wrapper .tabs {
  min-height: 0;
}
.left-settng-content-wrapper nav {
  min-height: 450px;
}

.react-crop {
  height: 100%;
  width: 100%;
}
